/* Removes default link styles */
.linkWrapper {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.playlistItem {
  padding: 10px;
  width: 200px;
  background-color: #111827;  
  border-radius: 10px;
  text-align: center; /* Center-align text content */
  color: white;
  margin-left: 3px;
  margin-right: 3px;
  transition: transform 0.2s ease; /* Add a hover effect */
}

.playlistItem:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
}

.imageWrapper {
  width: 140px; 
  height: 140px;
  margin: 0 auto; 
  overflow: hidden;
  border-radius: 5px; 
  border: 1px solid white;
}

.playlistImage {
  object-fit: cover; /* Ensures image is not stretched */
  width: 100%; /* Fills the wrapper */
  height: 100%; /* Fills the wrapper */
}

.playlistName {
  font-weight: bold;
  margin-top: 5px;
}

.playlistDetails {
  color: gray;
  font-size: 0.7rem;
}
