.playlistList {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto new lines */
  gap: 10px; /* Adds spacing between items */
  padding: 10px;
}

.viewMoreButton {
  width: 100px;
  height: 60px;
  padding: 5px; /* Reduces padding for a smaller button appearance */
  color: white;
  align-self: center; /* Aligns button to center of container */
  border: none;
  cursor: pointer;
  border: 1px solid white;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.viewMoreButton:hover {
  background-color: #555;
}
