.main {
  width: 100%;
}

.album-header {
  display: block;
  align-items: center;
  margin-top: 10px;
  background-color: #1e1e1eae;
  border-radius: 8px;
  height: 260px;
  width: 100%;
}

.album-info {
  display: flex;
  align-items: left;
  order: 0;
}

.playlist-logo {
  display: flex;
  order: 0;
  width: 180px;
  height: 180px;
  margin-right: 40px;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 8px;
}

.band-info {
  display: flex;
  order: 1;
  flex-direction: column;
  justify-content: center;
}

.album-name {
  font-size: 3.5rem;
  color: #fff;
  margin: 0;
}

.band-name {
  font-size: 2rem;
  color: #777;
  margin: 0;
}

.playlist-options {
  display: flex;
  align-items: left;
  order: 1;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 25px;
}

.playlist-play-button,
.shuffle-button,
.playlist-like-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 8px;
  font-size: 1.8rem;
}

.playlist-options-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 8px;
  font-size: 1.5rem;
  margin-left: 20px;
}

.shuffle-button {
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
}

.playlist-play-triangle-icon {
  width: 0;
  height: 0;
  border-left: 15px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-left: 2.5px;
  margin-top: 5px;
}

.playlist-play-triangle-icon:hover {
  border-left: 15px solid #3b3bfc;
}

.playlist-play-triangle-icon:active {
  border-left: 15px solid #1c1c84;
}

.playlist-play-button:hover,
.shuffle-button:hover,
.playlist-like-button:hover,
.playlist-options-button:hover {
  color: #3b3bfc;
}

.playlist-play-button:active,
.shuffle-button:active,
.playlist-like-button:active,
.playlist-options-button:active {
  color: #1c1c84;
}