.profileContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  background-image: radial-gradient(
    ellipse 75% 75% at 50% 50%,
    rgba(30, 30, 50, 0.6),
    rgba(15, 15, 30, 1),
    rgba(5, 5, 15, 1)
  );
}

.headerSection {
  flex-basis: 100%;
}

.playlistSection {
  order: 1;
  flex-basis: 100%;
}

.headerSection,
.playlistSection {
  background-color: #111827;
  padding: 15px;
  border-radius: 8px;
}
